<div class="row">
    <div class="col s10 offset-s1 m8 offset-m2 l8 offset-l2">
        <div class="brand">
            <div class="title center-align">
                <% if (config.subtitle && config.subtitle.length > 0) { %>
                    <%= config.subtitle %>
                <% } else { %>
                    subtitle
                <% } %>
            </div>

            <div class="description center-align">
                <% if (config.description && config.description.length > 0) { %>
                    <%= config.description %>
                <% } else { %>
                   
                <% } %>
            </div>
            <div class="cover-btns">
                <a href="#indexCard" class="waves-effect waves-light btn">
                    <i class="fa fa-angle-double-down"></i><%- __('startRead') %>
                </a>
                <% if (theme.indexbtn && theme.indexbtn.enable) { %>
                <a href="<%- theme.indexbtn.url %>" class="waves-effect waves-light btn" target="_blank">
                    <i class="fa <%- theme.indexbtn.icon %>"></i><%- theme.indexbtn.name %>
                </a>
                <% } else if (theme.githubLink.enable) { %>
                <a href="<%- theme.githubLink.url %>" class="waves-effect waves-light btn" target="_blank">
                    <i class="fa fa-github %>"></i><%- theme.githubLink.title %>
                </a>
                <% } %>
            </div>
        </div>
    </div>
</div>
<script>
// 每天切换 banner 图.  Switch banner image every day.
$('.bg-cover').css('background-image', 'url(/medias/banner/' + new Date().getDay() + '.jpg)');
</script>